<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beini.mapper.SimpleTableMapper">
	<insert id="insertBatch" parameterType="java.util.List">
		insert into simple_table (net_type, t_name, name_en)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.runType,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.nameEn,jdbcType=VARCHAR})
		</foreach>
	</insert>
</mapper>